ven target directory
target/**/*

# IDE settings
*.iml
.idea/
*.ipr
*.iws
*.class

# Eclipse files
.project
.classpath
.settings/

# NetBeans files
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IntelliJ
out/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Environment & config files
*.env
*.local
*.bak

# Tomcat/Jetty
**/logs/
**/temp/
**/work/
**/conf/Catalina/

# Optional: skip compiled JSPs (if any)
/*.jspf

# Optional: skip generated documentation
/apidocs/
/docs/

/target/
